<!-- Title + Metadata -->
<div class="container">
  <div class="row">
    <!-- Date + Folio num -->
    <h5>{{ diary.date }}: {{ diary.page[page].folio_num }}</h5>
  </div>
  <!-- Metadata -->
  <div class="metadata">
    <!-- First row -->
    <div class="d-flex">
      <div class="p-2">Year: {{ diary.date }}</div>
      <div class="p-2">Hand: {{ diary.page[page].hand }}</div>
      <div class="p-2">Diary Num: {{ diary.volume_num }}</div>
    </div>
    <!-- Second row -->
    <div class="d-flex">
      <div class="p-2">Folio Num: {{ diary.page[page].folio_num }}</div>
      <div class="p-2">Manuscript Num: Add MS {{ diary.ms_num }}</div>
    </div>
    <!-- Third row -->
    <div class="d-flex">
      <div class="p-2">Transcription Status: xx</div>
      <div class="p-2">Transcriber: {{ diary.page[page].transcriber }}</div>
    </div>
  </div>
</div>

<!-- Super search bar -->
<div class="d-flex justify-content-center">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input type="text" name="search" placeholder="Search..">
</div>

<!-- Pagination bar -->
<div class="container">
  <ngb-pagination class="d-flex justify-content-center"
    [collectionSize]="100"
    [(page)]="page"
    [maxSize]="10"
    [pageSize]="1"
    [ellipses]="false"
    size="sm"
  ></ngb-pagination>
  <p>page = {{page}}</p>
</div>

<!-- Viewer boxes manuscript/transciption -->
<div class="container">
  <div class="row justify-content-center">
    <!-- Manuscript -->
    <div class="col-sm">
      <div class="viewer-box">
        <img src="assets{{ diary.notebook_url }}{{ diary.page[page].image }}"/>
      </div>
    </div>
    <!-- Transcription -->
    <div class="col-sm">
      <div class="viewer-box">
        <div [innerHTML]="diary.page[page].content"></div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination bar -->
<div class="container">
    <ngb-pagination class="d-flex justify-content-center"
      [collectionSize]="100"
      [(page)]="page"
      [maxSize]="10"
      [pageSize]="1"
      [ellipses]="false"
      size="sm"
    ></ngb-pagination>
</div>

<!-- Pagination bar (old) -->
<!--
<div class="container">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center pagination-sm">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
-->
