<div class="container">
  <div class="row">
    <h5>XXXX</h5>
  </div>
  <div class="row">
    <div class="col-sm">
      Year: xxxx
    </div>
    <div class="col-sm">
      Hand: xxxx
    </div>
    <div class="col-sm">
      Diary Num: xx
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      Folio Num: xx
    </div>
    <div class="col-sm-4">
      Location: xxxx
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      Transcription Status:
    </div>
    <div class="col-sm-4">
      Transcriber :
    </div>
  </div>
</div>



 <div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="viewer-box">
        left
      </div>
    </div>
    <div class="col-sm">
      <div class="viewer-box">
        right
      </div>
    </div>
  </div>
</div>
