<div class="row justify-content-center">
  <div class="col-4-auto" id="search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" name="search" placeholder="Search..">
  </div>
</div>
<div class="row">
  <div class="col-2-auto" id="volLinkBar">
    <div id="volHeader">
      <h1>Volumes</h1>
    </div>
    <div>
      <app-volume-links></app-volume-links>
    </div>
  </div>
  <div class="col-6" id="aboutTxt">
    <h1><strong>Welcome to the Michael Field Diaries</strong></h1>
    <p>The poets, dramatists, and diarists Katharine Bradley (1846-1914) and Edith Cooper (1862-1913) were not only
    aunt and niece, but also long-term partners who wrote collaboratively under the composite name "Michael
    Field." "They" published prolifically—particularly collections of lyric poetry and historical verse-dramas—finding
    success with the early works in the 1880s, and winning new-found fame in recent times primarily with their
    poetry. However, perhaps their most fascinating document is the diary they co-wrote to record their lives and
    literary endeavors. Titled "Works and Days," it primarily covers the years from 1888 to their deaths just prior to
    World War I. Intended for posthumous publication, their literary executor (Thomas Sturge Moore), published in
    1933 a vastly expurgated volume of extracts. Currently housed in the archives of the British Library, and
    untranscribed, the full manuscript diary has been relatively inaccessible to anyone other than the dedicated
    scholar. Yet it contains much to intrigue researchers and general readers alike. In addition to their own
    aesthetic response to events both contemporaneous and historically-resonant, it offers a powerful historical
    documentation of the construction of a queer identity through the formation of their aesthetic paganism, their
    conversion to Catholicism, and, finally, through the pathos of Cooper’s death. It also tells the narrative of their
    close, if often tempestuous, relationships with John Ruskin, Robert Browning, and Bernhard Berenson; and
    their chronicle of the cultural life of fin-de-siecle London and Europe, detailing encounters with the leading
    literary and artistic figures of the period, including Oscar Wilde, William Butler Yeats, Algernon Charles
    Swinburne, and Walter Pater. The writing is powerful, caustic, and witty; and sometimes intensely moving.</p>
  </div>
</div>
