$primary-color: #47525e;
$font-stack: Cardo, 'Times New Roman', Times, serif;
$secondary-color: #f24c30;

input[type=text] {
   width: 500px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
   font: 12px bold;
   color: #969faa;
   background: #343f4b 0 0;
   text-align: left;
   margin: 0 0 15px 0;
   border: 1px solid #8492a6;
   border-radius: 5px;
   height: 20px;
   padding: 2px;
}

/* When the input field gets focus, change its width to 650px */
input[type=text]:focus {
   width: 650px;
}

#volLinkBar {
  margin-left: 2.5%;
  margin-right: 7.5%;
  border: 2.5px solid $primary-color;
  border-radius: 5px;
}

#volHeader {
  h1 {
    color: white;
    text-align: center;
  }
  background-color: $primary-color;
}

#aboutTxt {
  p {
    line-height: 30px;
  }
}
