$primary-color: #47525e;
$font-stack: Cardo, 'Futura', Times, serif;
$secondary-color: #f24c30;

#welcomeHeader {
  font-weight: bold;
  color: $secondary-color;
}

p {
  line-height: 30px;
}

#linksContainer {
  width: 15%;
}

#contentContainer {
  width: 80%;
}

.pilot {
  margin-top: 50px;
}
