<!-- Main page for MF -->
<div id="body_wrap">
  <div id="mid_wrap">
    <!-- nav END -->
    <div id="mid">
      <div id="col_wrap">
        <div id="col_1">
          <div>
             <i class="fa fa-search" aria-hidden="true"></i>
             <input type="text" name="search" placeholder="Search..">
          </div>
          <br>
          <h1>Welcome to the Michael Field Dairy</h1>
          <div id="body_txt">
            <ul>
              <li *ngFor="let d of diary">
                <h5> Volume {{d.volume_id}} : {{ d.date }} </h5>
              </li>
            </ul>
            <!-- Folio Header -->
            <!-- Folio Metadata -->
          </div>
        </div>
      </div>
    </div>
    <!--
    <div id="col_2">
      <img src="../assets/MF_Diary1.jpg">
    </div>
    <div id="col_3">

    </div>
  -->
  </div>
</div>
