<!-- Main page for MF -->

<div id="body_wrap">
  <div id="mid_wrap">
    <div id="nav">
      <!-- Navigation Bar -->
      <ul class="navigation" id="nav_menu">
        <li>
          <a title="Home" href="">Home</a>
        </li>
        <li>
          <a title="Browse by Date" href="">Browse by Date</a>
        </li>
        <li>
          <a title="Browse by Hand" href="">Browse by Hand</a>
        </li>
        <li>
          <a title="About" href="">About</a>
        </li>
      </ul>
      <!-- Nav Bar END -->
    </div>
    <!-- nav END -->
    <div id="mid">
      <div id="col_wrap">
        <div id="col_1">
          <div id="body_txt">
            <!-- Folio Header -->
            <h2 style="margin-top: 1px; padding-top: 0;">1897: 5r</h2>
            <!-- Folio Metadata -->
            <p>
              <li>Year: YYYY</li>
              <li>Hand: name</li>
              <li>Diary Num: num</li>
              <br>
              <li>Folio Num: num</li>
              <li>Location: location</li> 
              <br>
              <li>Transcription Status: </li>
              <li>Transcriber: name</li>
            </p>
          </div>
          <div id="search_wrap">
            <p>Search</p>
          </div>
        </div>
      </div>
    </div>
    <div id="col_2">
      <img src="../assets/MF_Diary1.jpg">
    </div>
    <div id="col_3">
      
    </div>
  </div>
</div>